.ionContent{
    background-color: #1d0994;
}
.cardContainer {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    margin-top: 40px;    /* Centrar verticalmente */
    height: 130px;           /* Altura de la pantalla completa */
  }
  
  ion-card {
    width: 300px;
    height: 80px;            /* Ancho de la card */
  }
  .buttonMenuText {
    display: flex;
    justify-content: center;  /* Centrar horizontalmente */
    align-items: center;      /* Centrar verticalmente */
    height: 100%;             /* Asegurar que ocupe todo el espacio vertical */
    text-align: center;       /* Alinear el texto en el centro horizontalmente (por si acaso) */
  }
  .custom-image {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    width: 100%;      /* Ajusta el ancho al 100% del contenedor */
    height: auto;     /* Mantiene la proporción de la imagen */
    max-width: 200px; /* Define un ancho máximo */
    max-height: 180px; /* Define una altura máxima */
  }
  .imageContainer{
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    height: 150px;           /* Altura de la pantalla completa */
  }
  .cardSettingsContainer {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
       /* Centrar verticalmente */
    }
  .settingsCard{
    width: 100px;
    height: 70px;
  }
  .text {

    font-size: 30px !important;
    font-family: "Graduate", serif;
    
  }
  p     {

    font-size: 15px;
    font-family: "Graduate", serif;
    
  }
  .nombreLvlClass{
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
       /* Centrar verticalmente */
  }
 