.campfireImageDiv {
  background: radial-gradient(circle, rgb(160, 120, 35) -60%, #09003B 70%);
  display: flex;                
  justify-content: center;      
  align-items: center;          
  height: 40vh;  
  border-radius: 15px;           
}

.homeImg {
  max-width: 100%;              
  height: auto;                 
  filter: brightness(1.2); 
  
}
.menuHeader{
  --background: #1d0994; /* Cambia este color al que desees */
  color: white; /* Cambia el color del texto */
}
.menuHeader ion-toolbar {
  --background: #1d0994; /* Cambia este color al que desees */
  color: white; /* Cambia el color del texto */
}
.menuHeader ion-title {
  color: white; /* Cambia el color del título */
  font-family: "Graduate", serif; /* Aplica la fuente personalizada */
}
p{
  color: aliceblue;
  font-family: "Graduate", serif;
}
.cardContainer{
  
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  
  
}
.cardButton{
  height: 100px;
  width: 300px;
}
.text{
  font-size: 25px!important;
  margin-left: 30px;
  
}
.text2{
  font-size: 40px!important;
  margin-left: 30px;
  
}
.cardContainer2{
  margin-left: 150px;
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  
  
}
.loginButton{
  background-color: transparent; 
  box-shadow: none; 
  border: none; 
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 50px; 
  width: 60px; 
}
.header{
  display: flex;
}
